*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Patrick Hand', cursive;
  
}

section{
  background-color: darkslategray;
  /* height:100%; */
}

.msg-container{
  padding-bottom:3em;
}

.msg-form{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  bottom:0;
  margin:auto;
  padding:auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  /* border:1px solid black; */
  width:100%;
  background: rgb(52, 70, 68);
}

.msg-field{
  outline:none;
  border:none;
  padding:0.5em 1em;
  border-radius: 2em;
  position:relative;
  width:20em;
  height:2.5em;
  font-size:1.1em;
  letter-spacing: 0.1em;
  font-weight: bold;
  /* transform: translate(-50%); */
  background: #344644;
  box-shadow: inset 2px 1px 0 0 #2b3a38,
  inset -1px -1px 0 0 #666,
  1px 1px 3px 0 #2d3b3a;
}

.btn{
  width:3.6em;
  height:3.6em;
  border-radius: 50%;
  outline:none;
  border:none;
  margin-left:1em;
  filter:drop-shadow(1px 1px 1px #222);
  box-shadow: inset -1px -1px 0 0 #2b3a38,
  inset 0px 1px 0 0 #666,
  -2px -2px 0 0 #324442;
  background:#344644;
  transition: all 0.3s;
}

.btn:hover{
  box-shadow: inset 2px 1px 0 0 #2b3a38,
  inset -1px -1px 0 0 #666,
  0 0 0 0 #000;
}

.btn:hover ion-icon{
  margin:0.15em 0 0 0.27em;
}

.btn ion-icon{
  font-size: 1.8em;
  margin:0.1em 0 0 0.2em;
  transition: all 0.3s;
}

.message{
  margin-bottom:1.2em; 
  display: flex;
  align-items: center;
  background-color: rgb(53, 88, 88);
  border-radius: 2em;
}

.message:last-child{
  margin-bottom:2em; 
}

.sender{
  /* border:1px solid yellow; */
  justify-content:right;
  flex-direction: row-reverse;
}

.other{
  
}

.message p{
  /* border:1px solid gold; */
  padding:0.5em 1em;
}

.message img{
  border-radius: 50%;
  width:3em;
}